body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
   
}

#board {
    background-image: url("https://leopangea.github.io/dodo-run-pangea/img/newback.png");
    background-size: cover;
    background-color: sandybrown;
    border-bottom: 1px solid black;
    max-width: 100%;
}
